footer {
  position: absolute;
  bottom: 0;
}

#logo {
  width: 80vw;
  height: 50vh;
  margin-left: 10vw;
}

body,
html {
  min-height: 100vh;
  height: 100vh;
}

main p,
main a {
  color: #eee;
  display: block;
  margin: 20px 0;
  text-align: center;
}
