* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	position: relative;
	background-color: #333;
	min-height: 150vh;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #F8F8F8;
	padding-bottom: 50px; /* make space for footer */
}

#main {
	position: relative;
}

#svg-wrapper {
	padding: 10px 10px 50px 10px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: padding 0s ease;
}

nav {
	max-height: 100vh;
	position: relative;
	z-index: 10;
	top: 0;
	width: 100%;
	background-color: #333;
	height: 500px;
	opacity: 0.9;
	text-align: center;
}

nav span {
	padding: 0 10px 0 10px;
	color: #aaa;
	font-style: italic;
	position: absolute;
	bottom: 20px;
	left: 10%;
	margin: auto;
	width: 80%;
}

svg {
	height: 100%;
	max-width: 100%;
	flex: 1;
}

/* viewbox for one line version -400 0 1260 212.5 --- original: 0 0 434.4 212.5*/

nav.stuck {
	position: fixed;
}

nav.stuck #svg-wrapper {
		padding: 10px 10px 10px 10px;
}

nav.stuck span {
	opacity: 0;
}

nav.stuck .names {
	transform: scale(2);
}

nav.stuck .cole {
	transform: translateY(-20px) translateX(-260px);
}

nav.stuck .lopez {
	transform: translateY(-80px) translateX(-20px);
}

nav.stuck .hexagon {
	transform: translateX(-350px);
}

h2 {
	flex: 1;
	z-index: 5;
	font-size: 70px;
	color: white;
	text-align: center;
}

section {
	max-width: 700px;
	padding: 20px;
	margin: auto;
}

td {
	padding: 50px 0;
}

p {
	line-height: 1.2em;
	margin-top: 25px;
}

table {
	width: 100%;
}

th {
	width: 80%;
	text-align: left;
}

td p {
	margin-top: 0px;
}

p:first-child {
	margin-top: 0;
}

footer {
	color: #DDDDDD;
	background-color: #222;
	text-align: center;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
}

footer p {
	font-size: 15px;
	height: 100%;
	margin: 0;
	line-height: 50px;
}

.jarallax {
		display: flex;
		align-items: center;
		justify-content: center;
    height: 500px;
    position: relative;
    z-index: 0;
}
.jarallax img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media screen and (max-width: 400px) {
	section {
		font-size: 15px;
	}

	table {
		padding: 0 20px;
	}

	nav {
		height: 300px;
		padding: 5px;
	}

	nav span {
		font-size: 14px;
		bottom: 5px;
	}

	#svg-wrapper {
		padding: 5px 5px 20px 5px;
	}

	nav.stuck {
		position: fixed;
		top: -240px;
	}

	nav.stuck ~ #main, nav.stuck ~ footer {
		top: 300px;
	}

	.jarallax {
		height: 300px;
	}

	h2 {
		font-size: 40px;
	}
}

@media screen and (max-width: 300px) {
	section {
		font-size: 14px;
		padding: 10px;
	}

	table {
		padding: 0;
	}

	nav {
		padding: 10px;
	}
}

@media screen and (max-width: 250px) {
  th {
  	display: none;
  }

	nav {
		height: 180px;
		padding: 5px;
	}

	#svg-wrapper {
		padding: 5px 5px 20px 5px;
	}

	nav span {
		font-size: 14px;
		bottom: 5px;
	}

	body.js-has-scrolled #svg-wrapper {
		padding: 5px;
	}

	body.js-has-scrolled nav span {
		opacity: 0;
	}

	svg {
		height: 60%;
	}

	nav.stuck {
		position: fixed;
		top: -120px;
	}

	nav.stuck ~ #main, nav.stuck ~ footer {
		top: 180px;
	}

	.jarallax {
		height: 300px;
	}

	h2 {
		font-size: 40px;
	}

	footer p {
		font-size: 12px;
	}
}